
#searchButton{
    float: right;
    color: white;
    background-color: tomato;
    border: 0;
    border-radius: 7px;
    padding: 10px 40px;
    cursor: pointer;
}

input {
    /* padding: 10px; */
    border-radius: 5px;
    border: 0;
    background-color: rgb(170, 167, 167);
    color: white;
}

.searchArea {
    width: 200px;
    margin: auto;
    /* margin-top: 40px; */
}

.foodContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.food-info {
    margin: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px gray;
}
#imgInfo {
    width: 300px;
    padding: 5px;
    background-color: white;
    display: block;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 500px;
    overflow: hidden;
    box-shadow: 5px 5px 20px grey;
}
#imgInfo img {
    width: 300px;
    border-radius: 10px;   
}
.feature{
    display: none;
}
